/* COLORS */

.color-primary-100 {
  color: #bcf0de;
}

.color-primary-300 {
  color: #77e8bf;
}
.color-primary-500 {
  color: #07d78d;
}

.color-primary-700 {
  color: #0abd7d;
}

.color-primary-900 {
  color: #007e51;
}

.color-neutral-grey-100 {
  color: #f8f8f8;
}

.color-neutral-grey-300 {
  color: #e4e4e4;
}

.color-neutral-grey-500 {
  color: #b0b0b0;
}

.color-neutral-grey-700 {
  color: #757575;
}

.color-neutral-grey-900 {
  color: #4b4b4b;
}

.color-neutral-black {
  color: #000;
}

.color-neutral-white {
  color: #fff;
}

.color-neutral-darkblue {
  color: #242a33;
}

/* LINKS */
a {
  color: #0abd7d;
  text-decoration: none;
}

/* BUTTONS */

.button-primary-large {
  height: 48px;
  padding: 0 24px;
  background-color: #07d78d;
  color: #242a33;
  background-color: #07d78d;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1rem;
  line-height: 48px;
  text-decoration: none;
  display: inline-block;
  border: 0px;
}

.button-primary-medium {
  height: 40px;
  padding: 0 24px;
  color: #242a33;
  background-color: #07d78d;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1rem;
  line-height: 40px;
  text-decoration: none;
  display: inline-block;
  border: 0px;
}

.button-primary-medium:hover {
  height: 40px;
  padding: 0 24px;
  color: #242a33;
  background-color: #0abd7d;
  font-family: "JetBrains Mono", sans-serif;
  font-size: 1rem;
  line-height: 40px;
  text-decoration: none;
  border: 0px;
}

/* TYPOGRAPHY */

.heading-1 {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
}

.heading-2 {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 44px;
}

.heading-3 {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 32px;
}

.paragraph-big {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 32px;
  margin: 20px 0;
}

.paragraph-regular {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
  margin: 16px 0;
}

.paragraph-small {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 20px;
  margin: 14px 0;
}

.caption {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 20px;
}

/* FORMS */

.form-contact {
  margin-top: 20px;
}

.form-contact label {
  margin-top: 20px;
}

.form-contact input {
  width: 100%;
  height: 40px;
  border: 1px solid #c4c4c4;
  margin-top: 4px;
  padding: 0 8px;
  box-sizing: border-box;
  box-shadow: none;
}

.form-contact textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #c4c4c4;
  margin-top: 4px;
  padding: 8px;
  resize: none;
  box-sizing: border-box;
}
