body {
  font-family: "JetBrains Mono", sans-serif;
  overflow-x: hidden;
  position: relative;
}

body ::selection {
  background: #ab29e8;
  color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

#open-menu {
  display: none;
}

#menu-mobile {
  display: none;
}

.header-menu-mobile {
  display: none;
}

.header-menu-mobile-close {
  margin: none;
}

.header-home {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-home-menu {
  color: #fff;
  text-decoration: none;
}

.header-home-menu:hover {
  color: #07d78d;
}

.header-home ul {
  display: flex;
  flex-wrap: nowrap;
}

.header-home li {
  padding: 0px 12px;
  color: #fff;
  list-style-type: none;
}

.banner-home-zaz {
  max-width: 1200px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.banner-home {
  margin-top: 0;
  height: 580px;
  position: relative;
  background-image: url(../img/Home/banner-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-home-text {
  width: 55%;
  position: absolute;
  left: 0;
  top: 36%;
  transform: translateY(-50%);
}

.banner-home-text p {
  margin-top: 20px;
}

.shortcuts-home {
  position: absolute;
  bottom: -20px;
}

.shortcuts-home ul {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  flex-wrap: nowrap;
  max-width: 100%;
}

.shortcuts-home li {
  height: 88px;
  border: 1px solid #fff;
  line-height: 88px;
  text-align: center;
  margin-left: -1px;
}

.shortcuts-home li:hover {
  background-color: rgba(7, 215, 142, 0.247);
}

.shortcuts-home a {
  text-decoration: none;
  color: #fff;
  width: 100%;
}

.contact-home {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

.contact-home p {
  margin: 20px 0 32px 0;
}

footer {
  background-color: #f8f8f8;
  margin-top: 120px;
  display: flex;
  height: 56px;
  padding-top: 24px;
  position: relative;
}

.socialmedia {
  display: flex;
}

.socialmedia img {
  margin-left: 16px;
}

.socialmedia p {
  margin: 0px;
}

/* INTERNAS */

.header-home-intern {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}

.header-home-intern ul {
  display: flex;
  flex-wrap: nowrap;
}

.header-home-intern li {
  padding: 0px 12px;
  color: #fff;
  list-style-type: none;
}

.banner-home-intern {
  margin-top: 0;
  height: 80px;
  position: relative;
  background-color: #000;
}

.title-intern {
  margin: 24px 0;
}

.title-solutions {
  background-color: #272939;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.title-about {
  background-image: url(../img/About/about-header-image.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #000;
  width: 100%;
  margin: -24px auto;
  padding-bottom: 24px;
}

.title-intern-about {
  margin: 24px 0;
  padding-top: 24px;
}

.solutions {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 112px auto 40px auto;
}

.solution-item {
  position: relative;
  width: 100%;
  max-width: 488px;
  padding: 36px 36px 24px 36px;
}

.solution-item img {
  width: 100%;
}

.solution-item h3 {
  margin: 16px 0px;
}

.separator-line {
  width: 246px;
  border: 1px solid #c4c4c4;
}

.about-banner-container {
  display: flex;
}

.about-banner-container img {
  width: 145px;
  height: 124px;
  margin: 0 auto;
  margin-top: 5%;
}

.about-banner-text {
  width: 60%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 60px;
}

.about-banner-text p {
  margin-top: 20px;
}

.about-content {
  display: flex;
  margin-top: 80px;
}

.about-text {
  width: 100%;
  position: relative;
  margin-right: 56px;
}

.about-tellus {
  background-color: #f8f8f8;
  width: 566px;
  padding: 32px;
  height: 100%;
  background-image: url("../img/About/about-tellus.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.about-tellus h3 {
  margin-top: 60%;
}

.contact-areas {
  position: relative;
  display: flex;
  margin-top: 140px;
}

.contact-areas-information {
  width: 60%;
  padding-right: 40px;
}

.contact-areas-information hr {
  width: 100%;
  border: 1px solid #e4e4e4;
  margin: 40px 0;
}

.contact-areas-form {
  width: 40%;
  background-color: #f8f8f8;
  padding: 32px;
  box-sizing: border-box;
}

.contact-areas-form button {
  margin-top: 20px;
}

.contact-areas-links {
  height: 30px;
  margin-bottom: 20px;
  align-items: center;
}

.contact-icons {
  margin-top: 2px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 400px;
  position: relative;
  margin: 3% auto;
  padding: 15px 20px;
  background: #f8f8f8;
}

.fechar {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 40px;
  background: #dbdbdb;
  font-size: 20px;
  color: #000;
}

.modalbox {
  width: 300px;
}

.modalform {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.modalform button {
  margin-top: 16px;
}

.maintenance-products {
  display: block;
  padding-top: 100px;
}

.products {
  position: relative;
  margin-top: 120px;
}

.products-class ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.products-class li {
  padding: 12px 32px;
  border: 1px solid #000;
}

.products-class li:nth-child(2),
.products-class li:nth-child(3) {
  margin-left: -1px;
}

.products-class li:hover {
  background-color: #bcf0de;
  cursor: pointer;
}

.products-class-active {
  background-color: #07d78d;
}

.products-container {
  width: 100%;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.product-on-list {
  width: 298px;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
  margin-left: -1px;
}

.product-on-list:hover {
  cursor: pointer;
}

.product-on-list:hover p {
  background-color: #07d78d;
  color: #000;
  cursor: pointer;
}

.product-on-list p {
  background-color: #000;
  padding: 12px;
  margin: 0;
  border-right: 1px solid #fff;
  min-height: 48px;
}

.product-on-list img {
  margin: 16px;
  width: 265px;
  height: 265px;
}

.product-page-container-product {
  width: 80%;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.product-page-gallery {
  max-width: 460px;
  width: 100%;
}

.product-page-gallery-image {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
}

#product-page-galery-image-big {
  width: 100%;
  min-width: 180px;
}

.product-page-gallery-thumbs {
  display: flex;
  margin-left: 1px;
}

.product-page-gallery-thumb {
  max-width: 20%;
  border: 1px solid #000;
  padding: 8px;
  margin-top: -1px;
  margin-left: -1px;
}

.product-page-gallery-thumb img {
  width: 100%;
}

.product-page-information {
  margin-left: 24px;
  width: 100%;
}

.product-page-information h2 {
  margin-bottom: 8px;
}

.product-page-information ul li {
  list-style-image: url("../img/icons/bullet.svg");
  margin: 0 0 12px 20px;
}

.products-home-class {
  display: flex;
}

.products-home-class :nth-child(1) {
  margin-left: 2px;
}

.products-class {
  display: flex;
}

.products-class :nth-child(2) {
  margin-left: 8px;
}

.products-class :nth-child(3) {
  margin-left: 8px;
}

.product-class-home-product-residential {
  position: relative;
  padding: 0px 4px;
  border: 1px solid #ab29e8;
  display: inline-block;
  color: #ab29e8;
  margin: 2px 1px;
}

.product-class-residential {
  position: relative;
  padding: 0px 4px;
  border: 1px solid #ab29e8;
  display: inline-block;
  color: #ab29e8;
  margin-bottom: 16px;
}

.product-class-home-product-commercial {
  position: relative;
  padding: 0px 4px;
  border: 1px solid #e48f4a;
  display: inline-block;
  color: #e48f4a;
  margin: 2px 1px;
}

.product-class-commercial {
  position: relative;
  padding: 0px 4px;
  border: 1px solid #e48f4a;
  display: inline-block;
  color: #e48f4a;
  margin-bottom: 16px;
}

.product-class-home-product-rapid {
  position: relative;
  padding: 0px 4px;
  border: 1px solid #4ab3e4;
  display: inline-block;
  color: #4ab3e4;
  margin: 2px 1px;
}

.product-class-rapid {
  position: relative;
  padding: 0px 4px;
  border: 1px solid #4ab3e4;
  display: inline-block;
  color: #4ab3e4;
  margin-bottom: 16px;
}

.product-page-sidebar {
  width: 20%;
  background-color: #ccc;
}

@media only screen and (max-width: 600px) {
  .header-home ul {
    display: none;
  }

  .header-home a {
    display: none;
  }

  .banner-home {
    height: 440px;
    background-image: url(../img/Home/banner-home-mobile3.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner-home-text {
    margin-top: 44px;
    padding: 0px 20px;
    width: 80%;
  }

  .header-menu-mobile {
    display: flex;
  }

  .header-menu-mobile-close {
    display: block;
    margin: 20px;
  }

  footer {
    display: block;
    margin-top: 60px;
    height: 120px;
  }

  .socialmedia {
    margin: 20px 0px;
  }

  .shortcuts-home {
    display: none;
  }

  .contact-home {
    width: 100%;
    margin-top: 40px;
  }

  .heading-2.color-neutral-white.heading-2-home {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 40px;
  }

  .banner-home-text > .paragraph-big {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 32px;
  }

  .container.header-home-intern ul {
    display: none;
  }

  .container.header-home-intern > .button-primary-medium {
    display: none;
  }

  .about-banner-container {
    display: block;
    margin: 0 auto;
  }

  .about-banner-container img {
    display: none;
  }

  .about-banner-text {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 30px;
  }

  .about-content {
    display: block;
  }

  .about-tellus {
    margin-top: 40px;
    width: 80%;
  }

  .solution-item {
    padding: 24px 0;
  }

  .contact-areas {
    display: block;
    margin-top: 120px;
  }

  .contact-areas-information {
    width: 100%;
    padding-right: 0;
  }

  .contact-areas-links a {
    font-size: 1em;
  }

  .contact-areas-links img {
    width: 20px;
    height: 20px;
  }

  .contact-areas-form {
    width: 100%;
  }

  #menu-mobile {
    display: none;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
  }

  #menu-mobile ul {
    text-align: center;
  }

  #menu-mobile li {
    padding: 20px 0;
    font-size: 1.25em;
  }

  #menu-mobile a {
    color: #fff;
  }

  #menu-mobile hr {
    border: 1px solid #1b1b1b;
  }

  #menu-mobile h1 {
    display: block;
    width: 50%;
    margin: 24px 30px 20px auto;
  }

  #open-menu {
    display: block;
  }

  .products-class li {
    margin: 0;
    padding: 8px;
    margin-top: -1px;
    width: 100%;
  }

  .product-on-list {
    box-sizing: border-box;
    width: 100%;
  }

  .product-on-list img {
    display: block;
    padding: 0;
    margin: 10px auto;
    width: 265px;
    height: 265px;
  }

  .product-page-container-product {
    width: 100%;
  }

  .product-page-container-product {
    display: block;
  }

  .product-page-information {
    margin-top: 32px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 960px) {
  .header-home ul {
    display: none;
  }

  .container.header-home > .button-primary-medium {
    display: none;
  }

  .header-home-intern ul {
    display: none;
  }

  .banner-home {
    background-position: right;
  }

  .container.header-home-intern ul {
    display: none;
  }

  .container.header-home-intern > .button-primary-medium {
    display: none;
  }
  #menu-mobile {
    display: block;
  }

  #menu-mobile {
    display: none;
    z-index: 9999;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
  }

  #menu-mobile ul {
    text-align: center;
  }

  #menu-mobile li {
    padding: 20px 0;
    font-size: 1.25em;
  }

  #menu-mobile a {
    color: #fff;
  }

  #menu-mobile hr {
    border: 1px solid #1b1b1b;
  }

  #menu-mobile h1 {
    display: block;
    width: 50%;
    margin: 24px 30px 20px auto;
  }

  #open-menu {
    display: block;
  }
  .header-menu-mobile {
    display: flex;
  }

  .header-menu-mobile-close {
    display: block;
    margin: 20px;
  }
}
